
/* ******GENERAL SETTINGS******* */

* 
{
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
 
body
{
    background-color: #000000;
    background-image: url("pics/KE-1D.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    
    color: #ffffff;
    font-family: verdana, arial, tahoma, sans-serif;
    margin: 0;
    font-size: 14px;
}

/* settings of all links a:*/

a:link {
  text-decoration: none; border-bottom:1px dotted;
  color: #ffffff;
}

a:visited {
  text-decoration: none; border-bottom:1px dotted;
  color: #ffffff;
}
a:hover {
  text-decoration: none; border-bottom:1px dashed;
}
a:active {
  text-decoration: underline;
}

/* settings of all image links a.iamges:*/

a.images:link{
	border-bottom: none;
}

a.images:hover {
   border-bottom: none;
}


/* ******HEADER and TITLES******* */
.header
{
  min-height: 200px;
  position: relative;
}

.headerText
{
  background-color: #000000;
  background-image: url("pics/dark-mosaic.png");
  text-align: center;
  padding: 20px;
  opacity: 0.95;
  border-radius: 15px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: Rockwell, arial;
  font-weight: lighter
}

h1.topText {
	text-align: center; 
	padding-top: 10px;
	padding-bottom: 10px;
}

h2.titleText {
	padding-top: 10px;
	padding-bottom: 10px;
}

h3.titleText {
    padding-top: 10px;
	padding-bottom: 10px;
}

h4.titleText {
    padding-top: 10px;
	padding-bottom: 10px;
}

h4.text2 {
	padding:15px;
}

/* ********BODY*********** */

.bodyContainer {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  padding: 20px 20px 0px 20px;
}

.rightSide {
  flex-grow: 1;
  padding: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  background-color: #000000;
  background-image: url("pics/dark-mosaic.png");
  opacity: 0.9;
  color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.leftSide {
  flex-grow: 1;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #000000;
  background-image: url("pics/dark-mosaic.png");
  opacity: 0.9;
  color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightSide * {  /* All child elements of rightSide */
    padding: 2px;
}

.leftSide * {  /* All child elements of leftSide */
    padding: 2px;
}

.main {
	flex-grow: 8;
	margin-bottom: 10px;
	background-color: #000000;
	background-image: url("pics/dark-mosaic.png");
	opacity: 0.97;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main * {
	text-align: left;
    margin-left: 5px;
    margin-right: 5px; 
}

.line {
	width: 200px;
	height: 2px;
	border-bottom: 1px solid black;
}

.indented {
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 40px;
}

.indentedList {
	margin-left: 40px;
	margin-top: 20px;
	margin-bottom: 40px;
}

/*****ENTRIES******/

.entry {
  align-items: center;
  overflow: hidden;
}

.column1 {
  padding: 10px 20px 20px 20px; 
}

.column2 {
  padding: 10px 10px 20px 10px;
}

a.descLinks {
	padding-top: 15px;
}

.descPars {
	width: 500px;
	height: 100px;
	padding: 10px 10px 10px 10px;
}


/* ******FOOTER********   */ 
.contactInfo
{
  padding: 20px;
  text-align: center;
  background-color: #000000;
  background-image: url("pics/dark-mosaic.png");
  opacity: 0.97;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ******IMAGES********   */ 

.projectOnePic 
{
	border: 1px solid #555;
	box-shadow: 0 0 8px 0;
	width:auto; 
	height:300px;
	opacity: 1;
}

.projectOnePic:hover {
	opacity: 0.8;
}

.projectTwoPic 
{
	border: 1px solid #555;
	box-shadow: 0 0 8px 0;
	width:auto; 
	height: 300px;
	opacity: 1;
}

.projectTwoPic:hover {
	opacity: 0.8;
}

.blogPic
{
	border: 1px solid #555;
	box-shadow: 0 0 8px 0;
	
	width:auto; 
	height:300px;
	opacity: 1;
}

.blogPic:hover {
	opacity: 0.8;
}

.mePic
{
	width: autopx;
	height: 200px; 
}

.boulderPic {
	width: autopx;
	height: 300px; 
	padding-top: 20px;
}

.travelPic {
	width: autopx;
	height: 300px; 
	padding-top: 20px;
}

/* ******** Blog page Stuff ******* */

.bodyContainer2 {
  display: flex;
  padding: 20px 20px 0px 20px;
  flex-direction: row; 
  flex-basis: 1000px;
  flex-grow: 0;
  flex-shrink: 0;
}

.main2 {
	margin-bottom: 10px;
	width: 1200px;
	background-color: #000000;
    background-image: url("pics/dark-mosaic.png");
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blogCollage { 
  width: autopx;
  height: 300px;
  object-fit: cover;
  vertical-align: bottom;
}

.blogCollageTurn { 
  image-orientation: from-image;
  width: autopx;
  height: 300px;
  object-fit: cover;
  vertical-align: bottom;
}

.blogList { 
  height: 40vh;
  flex-grow: 1;
}

.blogUl {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.picDiv {
	padding: 20px 30px 20px;
}

.captions {
	padding: 5px;
	text-align: center;
}


/* ****RESPONSIVE LAYOUT (PHONES || IPADS) ***** */


@media screen and (max-width: 500px) {   /* 500 px is quite small */

  .bodyContainer {   
    flex-direction: column;
  }
  
  .rightSide {
    padding: 20px;
  }
  
  .bodyContainer * { /* All child elements of bodyContaienr */
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
  
  .rightSide * {  /* All child elements of rightSide */
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto; 
  }
  
 /* Chagne size of picutes when in this mode vs other mode.. its the only way!! */
 
 .blogCollage { 
  width: autopx;
  height: 170px;
}
 
 .projectOnePic 
 {
	width:auto; 
	height:170px;
 }

.projectTwoPic 
 {
	width:auto; 
	height: 170px;
 }
 
 .blogPic
{
	width:auto; 
	height:150px;
}

a.descLinks {
	display: inline;
}

.descPars {
	display: inline;
	border: none;
    outline: none;
    box-shadow: none;
  
}



